<!-- 

<section id="primary-nav" class="navigation">
  <div class="nav-container">
    <div class="brand">
     <% link_to '.' do %><img class="bonsai-logo" src="https://dl.dropboxusercontent.com/s/d37ndmizplio8mw/bonsai-logo-color-docs.svg?dl=0"><% end %>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
    
	  <ul class="nav-list">
        
		<li class="header_menu_item <%= is_page_selected("/getting-started.html") %>"> <%= link_to 'Getting Started', '/getting-started.html' %></li>
		
		<li class="header_menu_item <%= is_page_selected("/inkling.html") %>">    <%= link_to 'Inkling', '/inkling.html' %>  </li>
		
		<li class="header_menu_item <%= is_page_selected("/reference.html") %>">    <%= link_to 'References', '/reference.html' %>  </li>
      
        
       
		<li><gcse:search></gcse:search></li>

      </ul>
    </nav>
  </div>
</section>




 -->

        <nav id="primary-nav">
        <div id="logo"> <% link_to '.' do %><img class="bonsai-logo" src="https://dl.dropboxusercontent.com/s/d37ndmizplio8mw/bonsai-logo-color-docs.svg?dl=0"><% end %></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                
				<li class="header_menu_item <%= is_page_selected("/getting-started.html") %>"> <%= link_to 'Getting Started', '/getting-started.html' %></li>
		
				<li class="header_menu_item <%= is_page_selected("/inkling.html") %>">    <%= link_to 'Inkling', '/inkling.html' %>  </li>
		
				
      
        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle">References +</label>
            <a href="#">References</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li> <%= link_to 'Inkling', '/inkling-reference.html' %>  </li>
                
            </ul> 

        </li>
		
       
				<li><gcse:search></gcse:search></li>
				
				
            </ul>
        </nav>

